# Проект по Базовому SQL

<a name="contents"></a> 

# Содержание исследования

## [Знакомство с базой данных](#stage_1)

* Важные понятия из БД
* ER-диаграмма
* Подробное описание таблиц 
   
## [Задачи проекта и их решения](#stage_2)

<a name='stage_1'></a>

# Знакомство с базой данных

[Наверх к оглавлению](#contents)

В самостоятельном проекте этого курса вы будете работать с базой данных, которая хранит информацию о венчурных фондах и инвестициях в компании-стартапы. 

Эта база данных основана на датасете [Startup Investments](https://www.kaggle.com/justinas/startup-investments), опубликованном на популярной платформе для соревнований по исследованию данных Kaggle.

Анализировать рынок инвестиций без подготовки может быть непросто. Поэтому сначала познакомьтесь с важными понятиями, которые вам встретятся в работе с базой данных.

*Венчурные фонды* — это финансовые организации, которые могут позволить себе высокий риск и инвестировать в компании с инновационной бизнес-идеей или разработанной новой технологией, то есть в стартапы.
Цель венчурных фондов — в будущем получить значительную прибыль, которая в разы превысит размер их трат на инвестиции в компанию. Если стартап подорожает, венчурный фонд может получить долю в компании или фиксированный процент от её выручки.

Чтобы процесс финансирования стал менее рискованным, его делят на стадии — *раунды*. Тот или иной раунд зависит от того, какого уровня развития достигла компания.

Первые этапы — **предпосевной и посевной раунды**. 

Предпосевной раунд предполагает, что компания как таковая ещё не создана и находится в стадии замысла. 

Следующий — посевной — раунд знаменует рост проекта: создатели компании разрабатывают бизнес-модель и привлекают инвесторов.

Если компании требуется ментор или наставник — она привлекает бизнес-ангела. *Бизнес-ангелы* — инвесторы, которые помимо финансовой поддержки предлагают экспертную помощь. Такой раунд называют **ангельским**.

Когда стартап становится компанией с проверенной бизнес-моделью и начинает зарабатывать самостоятельно, предложений инвесторов становится больше. Это **раунд A**, а за ним следуют и другие: **B, C, D** — на этих этапах компания активно развивается и готовится к IPO (первое публичное размещение акций компаний).

Иногда выделяют **венчурный раунд** — финансирование, которое могло поступить от венчурного фонда на любом этапе: начальном или более позднем.

В данных об инвестициях вам встретятся упоминания раундов, но самостоятельный проект не предполагает, что вы должны разбираться в их специфике лучше любого инвестора. Главное — понимать, как устроены данные.

Вы уже знаете, что такое ER-диаграмма. Работу с новой базой данных лучше начать с изучения схемы.

![title](ER-схема_для_проекта.png)

Теперь можно познакомиться с данными, которые хранят таблицы.

## acquisition

Содержит информацию о покупках одних компаний другими.

Таблица включает такие поля:

* первичный ключ id — идентификатор или уникальный номер покупки;

* внешний ключ acquiring_company_id — ссылается на таблицу company — идентификатор компании-покупателя, то есть той, что покупает другую компанию;

* внешний ключ acquired_company_id — ссылается на таблицу company — идентификатор компании, которую покупают;

* term_code — способ оплаты сделки:

    cash — наличными;

     stock — акциями компании;

    cash_and_stock — смешанный тип оплаты: наличные и акции.

* price_amount — сумма покупки в долларах;

* acquired_at — дата совершения сделки;

* created_at — дата и время создания записи в таблице;

* updated_at — дата и время обновления записи в таблице.

## company


Содержит информацию о компаниях-стартапах.

* первичный ключ id — идентификатор, или уникальный номер компании;

* name — название компании;

* category_code — категория деятельности компании, например:

    news — специализируется на работе с новостями;

    social — специализируется на социальной работе.

* status — статус компании:

        acquired — приобретена;

        operating — действует;

        ipo — вышла на IPO;

        closed — перестала существовать.

* founded_at — дата основания компании;

* closed_at — дата закрытия компании, которую указывают в том случае, если компании больше не существует;

* domain — домен сайта компании;

* twitter_username — название профиля компании в твиттере;

* country_code — код страны, например, USA для США, GBR для Великобритании;

* investment_rounds — число раундов, в которых компания участвовала как инвестор;

* funding_rounds — число раундов, в которых компания привлекала инвестиции;

* funding_total — сумма привлечённых инвестиций в долларах;

* milestones — количество важных этапов в истории компании;

* created_at — дата и время создания записи в таблице;

* updated_at — дата и время обновления записи в таблице.

## education




Хранит информацию об уровне образования сотрудников компаний.

* первичный ключ id — уникальный номер записи с информацией об образовании;

* внешний ключ person_id — ссылается на таблицу people — идентификатор человека, информация о котором представлена в записи;

* degree_type — учебная степень, например:

    BA — Bachelor of Arts — бакалавр гуманитарных наук;

    MS — Master of Science — магистр естественных наук.

* instituition — учебное заведение, название университета;

* graduated_at — дата завершения обучения, выпуска;

* created_at — дата и время создания записи в таблице;

* updated_at — дата и время обновления записи в таблице.

## fund

Хранит информацию о венчурных фондах.

* первичный ключ id — уникальный номер венчурного фонда;

* name — название венчурного фонда;

* founded_at — дата основания фонда;

* domain — домен сайта фонда;

* twitter_username — профиль фонда в твиттере;

* country_code — код страны фонда;

* investment_rounds — число инвестиционных раундов, в которых фонд принимал участие;

* invested_companies — число компаний, в которые инвестировал фонд;

* milestones — количество важных этапов в истории фонда;

* created_at — дата и время создания записи в таблице;

* updated_at — дата и время обновления записи в таблице.

## funding_round

Содержит информацию о раундах инвестиций.

* первичный ключ id — уникальный номер инвестиционного раунда;

* внешний ключ company_id — ссылается на таблицу company — уникальный номер компании, участвовавшей в инвестиционном раунде;

* funded_at — дата проведения раунда;

* funding_round_type — тип инвестиционного раунда, например:

    venture — венчурный раунд;

    angel — ангельский раунд;

    series_a — раунд А.

* raised_amount — сумма инвестиций, которую привлекла компания в этом раунде в долларах;

* pre_money_valuation — предварительная, проведённая до инвестиций оценка стоимости компании в долларах;

* participants — количество участников инвестиционного раунда;

* is_first_round — является ли этот раунд первым для компании;

* is_last_round — является ли этот раунд последним для компании;

* created_at — дата и время создания записи в таблице;

* updated_at — дата и время обновления записи в таблице.

## investment

Содержит информацию об инвестициях венчурных фондов в компании-стартапы.

* первичный ключ id — уникальный номер инвестиции;

* внешний ключ funding_round_id — ссылается на таблицу funding_round — уникальный номер раунда инвестиции;

* внешний ключ company_id — ссылается на таблицу company — уникальный номер компании-стартапа, в которую инвестируют;

* внешний ключ fund_id — ссылается на таблицу fund — уникальный номер фонда, инвестирующего в компанию-стартап;

* created_at — дата и время создания записи в таблице;

* updated_at — дата и время обновления записи в таблице.

## people


Содержит информацию о сотрудниках компаний-стартапов.

* первичный ключ id — уникальный номер сотрудника;

* first_name — имя сотрудника;

* last_name — фамилия сотрудника;

* внешний ключ company_id — ссылается на таблицу company — уникальный номер компании-стартапа;

* twitter_username — профиль сотрудника в твиттере;

* created_at — дата и время создания записи в таблице;

* updated_at — дата и время обновления записи в таблице.

<a name='stage_2'></a>
# ЗАДАЧИ ПРОЕКТА
[Назад к оглавлению](#contents)

## Задача 1

Посчитайте, сколько компаний закрылось.

SELECT COUNT(status)
FROM company
WHERE status = 'closed'

## Задача 2
Отобразите количество привлечённых средств для новостных компаний США. Используйте данные из таблицы company. Отсортируйте таблицу по убыванию значений в поле funding_total .

In [ ]:
SELECT funding_total 
FROM company
WHERE category_code = 'news' AND country_code = 'USA'
ORDER BY funding_total DESC;

## Задача 3
Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.

In [ ]:
SELECT SUM(price_amount)
FROM acquisition
WHERE term_code = 'cash' AND EXTRACT (YEAR FROM CAST (acquired_at as date)) BETWEEN 2011 AND 2013;

## Задача 4
Отобразите имя, фамилию и названия аккаунтов людей в твиттере, у которых названия аккаунтов начинаются на 'Silver'.

In [ ]:
SELECT first_name, last_name, twitter_username
FROM people
WHERE twitter_username LIKE 'Silver%';

## Задача 5

Выведите на экран всю информацию о людях, у которых названия аккаунтов в твиттере содержат подстроку 'money', а фамилия начинается на 'K'.

In [ ]:
SELECT *
FROM people
WHERE twitter_username LIKE '%money%' AND last_name LIKE 'K%';

## 6. Задача 6
Для каждой страны отобразите общую сумму привлечённых инвестиций, которые получили компании, зарегистрированные в этой стране. 
Страну, в которой зарегистрирована компания, можно определить по коду страны. Отсортируйте данные по убыванию суммы.

In [ ]:
SELECT SUM(funding_total), country_code
FROM company
GROUP BY country_code
ORDER BY sum DESC;

## Задача 7

Составьте таблицу, в которую войдёт дата проведения раунда, а также минимальное и максимальное значения суммы инвестиций, привлечённых в эту дату.

Оставьте в итоговой таблице только те записи, в которых минимальное значение суммы инвестиций не равно нулю и не равно максимальному значению.

In [ ]:
SELECT funded_at,
    MIN(raised_amount),
    MAX(raised_amount)
FROM funding_round
GROUP BY funded_at
HAVING MIN(raised_amount) <> 0 AND MIN(raised_amount) <> MAX(raised_amount)

## Задача 8

Создайте поле с категориями:

    Для фондов, которые инвестируют в 100 и более компаний, назначьте категорию high_activity.

    Для фондов, которые инвестируют в 20 и более компаний до 100, назначьте категорию middle_activity.

Если количество инвестируемых компаний фонда не достигает 20, назначьте категорию low_activity.
Отобразите все поля таблицы fund и новое поле с категориями.

In [ ]:
SELECT *,
    CASE
        WHEN invested_companies >= 100  THEN 'high_activity'
        WHEN invested_companies >= 20 AND invested_companies < 100 THEN 'middle_activity'
        WHEN invested_companies < 20 THEN 'low_activity'
    END AS activity
FROM fund;

## Задача 9

Для каждой из категорий, назначенных в предыдущем задании, посчитайте округлённое до ближайшего целого числа среднее количество инвестиционных раундов, в которых фонд принимал участие. Выведите на экран категории и среднее число инвестиционных раундов. Отсортируйте таблицу по возрастанию среднего.

In [ ]:
SELECT ROUND(AVG(investment_rounds)) AS average_rounds,
       CASE
           WHEN invested_companies>=100 THEN 'high_activity'
           WHEN invested_companies>=20 THEN 'middle_activity'
           ELSE 'low_activity'
       END AS activity
FROM fund
GROUP BY activity
ORDER BY average_rounds;

## Задача 10

Выгрузите таблицу с десятью самыми активными инвестирующими странами. Активность страны определите по среднему количеству компаний, в которые инвестируют фонды этой страны.

Для каждой страны посчитайте минимальное, максимальное и среднее число компаний, в которые инвестировали фонды, основанные с 2010 по 2012 год включительно.

Исключите из таблицы страны с фондами, у которых минимальное число компаний, получивших инвестиции, равно нулю. Отсортируйте таблицу по среднему количеству компаний от большего к меньшему.

Для фильтрации диапазона по годам используйте оператор BETWEEN.

In [ ]:
SELECT AVG(invested_companies),
    MIN(invested_companies),
    MAX(invested_companies),
    country_code
FROM fund
WHERE EXTRACT(YEAR FROM CAST(founded_at AS date)) BETWEEN 2010 AND 2012
GROUP BY country_code
HAVING MIN(invested_companies) <> 0
ORDER BY AVG(invested_companies) DESC
LIMIT 10;

Такой вариант ниже **не работает** (column “fund.founded_at” must appear in the GROUP BY clause or be used in an aggregate function). 
Почему - поясняет преподаватель Олег Булыгин:
"стоит запомнить, что столбцы, по которым делается отбор через агрегтаные функции по having (а это отбор после группировки) обязательно должны быть в группировке (group by)"

In [ ]:
SELECT AVG(invested_companies),
    MIN(invested_companies),
    MAX(invested_companies),
    country_code
FROM fund
GROUP BY country_code
HAVING MIN(invested_companies) <> 0 AND EXTRACT(YEAR FROM CAST(founded_at AS date)) BETWEEN 2010 AND 2012
ORDER BY AVG(invested_companies) DESC
LIMIT 10;

## Задача 11
Отобразите имя и фамилию всех сотрудников стартапов. Добавьте поле с названием учебного заведения, которое окончил сотрудник, если эта информация известна.

In [ ]:
SELECT first_name ,
        last_name,
    e.instituition    
FROM people AS p
LEFT JOIN education AS e ON p.id = e.person_id;

## Задача 12
Для каждой компании найдите количество учебных заведений, которые окончили её сотрудники. 

Выведите название компании и число уникальных названий учебных заведений. Составьте топ-5 компаний по количеству университетов.

In [ ]:
SELECT COUNT(DISTINCT(e.instituition)) AS count_inst,
        c.name
FROM people AS p
LEFT JOIN company AS c ON p.company_id = c.id
LEFT JOIN education AS e ON p.id = e.person_id
WHERE c.name IS NOT NULL 
GROUP BY c.name
ORDER BY count_inst DESC
LIMIT 5;

## Задача 13
Составьте список с уникальными названиями закрытых компаний, для которых первый раунд финансирования оказался последним.

In [ ]:
SELECT DISTINCT(name)
FROM company AS c
WHERE status = 'closed' 
AND c.id IN (SELECT fr.company_id
                  FROM funding_round AS fr
                  WHERE fr.is_first_round = 1 AND fr.is_last_round = 1)

## Задача 14
Составьте список уникальных номеров сотрудников, которые работают в компаниях, отобранных в предыдущем задании.

In [ ]:
SELECT DISTINCT(p.id)
FROM people as p
WHERE p.company_id IN (SELECT id
                       FROM company
                        WHERE company.name IN (SELECT DISTINCT(name)
                                               FROM company AS c
                                               WHERE status = 'closed' 
                                               AND c.id IN (SELECT fr.company_id
                                               FROM funding_round AS fr
                                               WHERE fr.is_first_round = 1 AND fr.is_last_round = 1)));

## Задача 15
Составьте таблицу, куда войдут уникальные пары с номерами сотрудников из предыдущей задачи и учебным заведением, которое окончил сотрудник.

WITH
--- Сохраняем во временную таблицу наш фильтр для основного запроса
filt_data AS (SELECT DISTINCT(p.id)
FROM people as p
WHERE p.company_id IN (SELECT id
                       FROM company
                        WHERE company.name IN (SELECT DISTINCT(name)
                                               FROM company AS c
                                               WHERE status = 'closed' 
                                               AND c.id IN (SELECT fr.company_id
                                               FROM funding_round AS fr
                                               WHERE fr.is_first_round = 1 AND fr.is_last_round = 1))))

SELECT filt_data.id,
       e.instituition
FROM filt_data
LEFT JOIN education AS e ON filt_data.id = e.person_id
WHERE e.instituition IS NOT NULL;

## Задача 16
Посчитайте количество учебных заведений для каждого сотрудника из предыдущего задания.

In [ ]:
WITH
--- Сохраняем во временную таблицу наш фильтр для основного запроса
filt_data AS (SELECT DISTINCT(p.id)
FROM people as p
WHERE p.company_id IN (SELECT id
                       FROM company
                        WHERE company.name IN (SELECT DISTINCT(name)
                                               FROM company AS c
                                               WHERE status = 'closed' 
                                               AND c.id IN (SELECT fr.company_id
                                               FROM funding_round AS fr
                                               WHERE fr.is_first_round = 1 AND fr.is_last_round = 1))))

SELECT filt_data.id,
       ---e.instituition,
       COUNT( e.instituition)
FROM filt_data
LEFT JOIN education AS e ON filt_data.id = e.person_id
WHERE e.instituition IS NOT NULL
GROUP BY filt_data.id;

![title](124.png)

## Задача 17
Выведите среднее число учебных заведений, которые окончили сотрудники разных компаний. Нужно вывести только одну запись, группировка здесь не понадобится.

In [ ]:
WITH
--- Сохраняем во временную таблицу наш фильтр для основного запроса
filt_data AS (SELECT DISTINCT(p.id)
FROM people as p
WHERE p.company_id IN (SELECT id
                       FROM company
                        WHERE company.name IN (SELECT DISTINCT(name)
                                               FROM company AS c
                                               WHERE status = 'closed' 
                                               AND c.id IN (SELECT fr.company_id
                                               FROM funding_round AS fr
                                               WHERE fr.is_first_round = 1 AND fr.is_last_round = 1)))),
 
filt_data2 AS 
(SELECT filt_data.id,
       ---e.instituition,
       COUNT( e.instituition)
FROM filt_data
LEFT JOIN education AS e ON filt_data.id = e.person_id
WHERE e.instituition IS NOT NULL
GROUP BY filt_data.id)

SELECT AVG(filt_data2.count)
FROM  filt_data2;

In [ ]:
avg
1.41509

**Второй способ решения с подзапросами**:

In [ ]:
SELECT AVG(t.total_instituition)
FROM (SELECT p.id, 
      COUNT(e.instituition) AS total_instituition
      FROM people AS p JOIN education AS e ON p.id = e.person_id
      WHERE p.company_id IN (SELECT id  
                    FROM company 
                    WHERE status = 'closed' 
                     AND id IN 
                     (SELECT company_id FROM funding_round 
                     WHERE is_first_round = 1 
                     AND is_last_round = 1))
     GROUP BY p.id) AS t

## Задача 18
Выведите среднее число учебных заведений, которые окончили сотрудники компании Facebook.

In [ ]:
SELECT AVG(t.total_instituition)
FROM (SELECT p.id, 
      COUNT(e.instituition) AS total_instituition
      FROM people AS p JOIN education AS e ON p.id = e.person_id
      WHERE p.company_id IN (SELECT id  
                    FROM company 
                    WHERE company.name = 'Facebook')
     GROUP BY p.id) AS t

## Задача 19

Составьте таблицу из полей:

    name_of_fund — название фонда;

    name_of_company — название компании;

    amount — сумма инвестиций, которую привлекла компания во всех раундах 2012 и 2013 годов.

В таблицу войдут данные о компаниях, в истории которых было больше шести важных этапов, а раунды финансирования проходили с 2012 по 2013 год включительно.

In [ ]:
SELECT c.name AS name_of_company, 
        fr.raised_amount AS amount,
        f.name AS name_of_fund
FROM investment  AS i
INNER JOIN company AS c ON i.company_id = c.id 
INNER JOIN fund AS f ON f.id = i.fund_id
INNER JOIN funding_round AS fr ON i.funding_round_id = fr.id
WHERE c.milestones > 6 AND EXTRACT (YEAR FROM CAST(fr.funded_at as date)) BETWEEN 2012 AND 2013;

## Задача 20

Выгрузите таблицу, в которой будут такие поля:

    название компании-покупателя;

    сумма сделки;

    название компании, которую купили;

    сумма инвестиций, вложенных в купленную компанию;

    доля, которая отображает, во сколько раз сумма покупки превысила сумму вложенных в компанию инвестиций, округлённая до ближайшего целого числа.

Не учитывайте те сделки, в которых сумма покупки равна нулю. Если сумма инвестиций в компанию равна нулю, исключите такую компанию из таблицы.
Отсортируйте таблицу по сумме сделки от большей к меньшей, а затем по названию купленной компании в алфавитном порядке. Ограничьте таблицу первыми десятью записями.

In [ ]:
SELECT acquiring_company.name AS acquiring_company_name, 
       a.price_amount AS amount, 
       acquired_company.name AS acquired_company_name, 
       acquired_company.funding_total AS total, 
       ROUND(a.price_amount/acquired_company.funding_total)
FROM acquisition AS a 
INNER JOIN company AS acquiring_company ON a.acquiring_company_id=acquiring_company.id
INNER JOIN company AS acquired_company ON a.acquired_company_id=acquired_company.id
WHERE a.price_amount > 0
  AND acquired_company.funding_total > 0
ORDER BY amount DESC,
         acquired_company_name
LIMIT 10;

## Задача 21

Выгрузите таблицу, в которую войдут названия компаний из категории social, получившие финансирование с 2010 по 2013 год. Выведите также номер месяца, в котором проходил раунд финансирования.

In [ ]:
SELECT EXTRACT (MONTH FROM CAST(funded_at as date)) as month,
        c.name
FROM funding_round AS fr
LEFT JOIN company AS c ON fr.company_id = c.id
WHERE EXTRACT (YEAR FROM CAST(fr.funded_at as date)) BETWEEN 2010 AND 2013 AND
        c.category_code = 'social'

## Задача 22

Отберите данные по месяцам с 2010 по 2013 год, когда проходили инвестиционные раунды. Сгруппируйте данные по номеру месяца и получите таблицу, в которой будут поля:

    номер месяца, в котором проходили раунды;

    количество уникальных названий фондов из США, которые инвестировали в этом месяце;

    количество компаний, купленных за этот месяц;

    общая сумма сделок по покупкам в этом месяце.

In [ ]:
WITH
--- временная таблица с количеством уникальных названий фондов из США  + месяцы
tab1 AS (SELECT EXTRACT(MONTH
                  FROM fr.funded_at) AS month,
        COUNT(DISTINCT f.name) AS count_fund_companies
FROM funding_round AS fr
LEFT JOIN investment AS i ON i.funding_round_id = fr.id
LEFT JOIN fund AS f ON i.fund_id = f.id
WHERE EXTRACT(YEAR
                 FROM fr.funded_at) BETWEEN 2010 AND 2013
     AND f.country_code = 'USA'
GROUP BY MONTH),

---временная таблица с количеством уникальных купленных компаний за период 2010-2013 + общая сумма сделок + месяцы

tab2 AS (SELECT COUNT(a.acquired_company_id) as count_acquired_companies,
                SUM(a.price_amount) AS total_sum,
                EXTRACT (MONTH FROM a.acquired_at) AS month
        FROM acquisition AS a
        WHERE EXTRACT (YEAR FROM a.acquired_at) BETWEEN 2010 AND 2013
        GROUP BY month)
        
SELECT tab1.month,
        tab1.count_fund_companies,
        tab2.count_acquired_companies,
        tab2.total_sum
FROM tab1
LEFT JOIN tab2 ON tab1.month = tab2.month;

Код ниже неверный, потому что тут нельзя объединить подсчет count_unique_fund_names и count_acquired_companies в одном запросе, потому что их отбор выполняется по разным условиям.

In [ ]:
SELECT EXTRACT (MONTH FROM CAST(funded_at as date)) as month,
        COUNT(DISTINCT(f.name)),
       COUNT(a.acquired_company_id),
        SUM(a.price_amount) 
FROM funding_round AS fr
LEFT JOIN company AS c ON fr.company_id = c.id
LEFT JOIN investment AS i ON fr.id = i.funding_round_id 
LEFT JOIN fund AS f ON i.fund_id = f.id
LEFT JOIN acquisition AS a ON c.id = a.acquired_company_id
WHERE EXTRACT (YEAR FROM CAST(fr.funded_at as date)) BETWEEN 2010 AND 2013 
    AND f.country_code = 'USA'

## Задача 23

Составьте сводную таблицу и выведите среднюю сумму инвестиций для стран, в которых есть стартапы, зарегистрированные в 2011, 2012 и 2013 годах. Данные за каждый год должны быть в отдельном поле. Отсортируйте таблицу по среднему значению инвестиций за 2011 год от большего к меньшему.

Поле c DISTINCT должно идти первым в селекте, "т.к. сначала должны отбрасываться дубли и только потом делать отборы в соответствие с оставшимися значениями"

In [ ]:
WITH
t_2011 AS (SELECT DISTINCT(country_code) as country,
               AVG(funding_total) AS average --- сумма привлеченных инвестиций             
           FROM company 
           WHERE EXTRACT(YEAR FROM founded_at) = 2011
           GROUP BY country),

t_2012 AS (SELECT DISTINCT(country_code) AS country,
                  AVG(funding_total) AS average --- сумма привлеченных инвестиций              
           FROM company 
           WHERE EXTRACT(YEAR FROM founded_at) = 2012
            GROUP BY country), 

t_2013 AS (SELECT DISTINCT(country_code) AS country,
                  AVG(funding_total) AS average --- сумма привлеченных инвестиций
           FROM company 
           WHERE EXTRACT(YEAR FROM founded_at) = 2013
           GROUP BY country)

SELECT t_2011.average,
       t_2012.average,
       t_2013.average,
       t_2011.country
FROM t_2011 INNER JOIN t_2012 ON t_2011.country = t_2012.country
INNER JOIN t_2013 ON t_2012.country = t_2013.country
ORDER BY t_2011.average DESC